<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.common.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.example.common.model.User" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="adress" property="adress" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, age, sex, adress
  </sql>

  <!--all-->
  <select id="searchAll" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>
    FROM  USER
  </select>

</mapper>